@{
    ViewData["Title"] = "Generate Document";
}

<h1>Generate Document</h1>

<form asp-action="Generate" asp-controller="Doc" method="post" enctype="multipart/form-data">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="Title" required/>
    </div>
    <div>
        <label for="firstname">Firstname:</label>
        <input type="text" id="firstname" name="Firstname" required/>
    </div>
    <div>
        <label for="lastname">Lastname:</label>
        <input type="text" id="lastname" name="Lastname" required/>
    </div>
    <div>
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" accept="image/*" />
    </div>
    <button type="submit">Generate Doc</button>
</form>


@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}